mule-expose-rest-api/src/main/mule/mule-expose-rest-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b372edac-012f-412c-8599-e3c634f28a90" >
		<http:listener-connection host="0.0.0.0" port="8081"/>
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="0f5294c5-2d78-4ecd-a813-a9ea118b5ce2" >
		<http:request-connection protocol="HTTPS" host="dummy-json.mock.beeceptor.com" port="443" />
	</http:request-config>
	<flow name="mule-expose-rest-apiFlow" doc:id="14353b49-b39a-4150-a02e-793cc45ef6be" >
		<http:listener doc:name="Listener" doc:id="b0014ef6-d0d6-4e56-8e49-8d929e2589d0" config-ref="HTTP_Listener_config" path="/api/*"/>
		<logger level="INFO" doc:name="Logger" doc:id="e7ff27e2-b7cf-46c1-8513-2254e51bec98" message='#["flow started"]'/>
		<http:request method="GET" doc:name="Request" doc:id="180973ec-b10e-404a-bc5f-82d55ebfe07f" config-ref="HTTP_Request_configuration" path="/todos" outputMimeType="application/json" followRedirects="true" sendBodyMode="AUTO" requestStreamingMode="AUTO" responseTimeout="#[90000]"/>
		<set-payload value='#["Response from 9000 LB - "  : payload]' doc:name="Set Payload" doc:id="c4ea33f8-2949-49dd-904c-934e58db0a7d" />
	</flow>
</mule>
